.navbar-container{
    background-color: white;
    width: 100%;
    height: 10vh;
}

.navbar-container h1{
    color: red;
    display: inline-block;
}

.profile-btn{
    position: absolute;
    right: 10px;
    top: 10px;
}

.dashboard-btn{
    position: absolute;
    right: 100px;
    top: 10px;
}